body{
    background-color: rgb(211, 211, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homework2-part1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#header-part1{
    font-size: 30px;
}

.container-part1-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
}

#button-homework2, #button-part-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    transition: 0.5s;
}

#button-homework2:hover, #button-part-2:hover{
    font-size: 20px;
    transition: 0.5s;
}

.container-script-part1{
    margin-top: 90px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}